@font-face {
   font-family: Chub Gothic Regular; 
   src: url('chubgothic_1.ttf');
} 
body {
   padding-top: 105px;
   text-align: center;
   font-family: Chub Gothic Regular
   background: url(/Images/asanoha-400px.png) 100%;
   background-size: cover;
}
h1 {
  display: inline-block;
  font-size: 30px;
}
h2 {
  font-size: 20px;
  display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #74767a;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #74767a;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
   background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}
.active {
    background-color: #84b3ff;
   
}
